@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-display: swap;
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/instrument-sans-400.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/instrument-sans-500.woff2') format('woff2');
}

@font-face {
	font-display: swap; 
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/instrument-sans-700.woff2') format('woff2');
}

html {
	font-family: 'Instrument Sans', sans-serif;
	color: #28303B;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

nav a {
	background: url(../images/arrow-upright.png) no-repeat top right;
	background-size: contain;
	padding-right: 136px;
}

.primary_btn {
	background: linear-gradient(to right, #1e3584 50%, #122C83 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .25s ease-in;
}

.primary_btn:hover {
	background-position: left bottom;
}

.booking_icon {
	background-image: url(../images/booking.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.close_icon {
	background: url(../images/close_icon.png) no-repeat;
	background-size: contain;
}

.booking_light_icon {
	background: url(../images/booking_light.svg) center no-repeat;
}

.hero_arrow_upright {
	background-image: url(../images/arrow-upright.png);
	background-repeat: no-repeat;
	background-position: right 20px center;
}

.arrow_dawn {
	background-image: url(../images/arrow_dawn.png);
	background-repeat: no-repeat;
	/* background-position: left 0px center; */
}

footer {
	background-color: #222932;
}

footer a:hover {
	text-decoration: underline solid rgb(244, 204, 9);
}
