@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-display: swap;
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/instrument-sans-400.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/instrument-sans-500.woff2') format('woff2');
}

@font-face {
	font-display: swap; 
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/instrument-sans-700.woff2') format('woff2');
}

html {
	font-family: 'Instrument Sans', sans-serif;
	color: #28303B;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.primary_btn {
	background: linear-gradient(to right, #1c399b 50%, #122C83 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .25s ease-in;
}

.primary_btn:hover {
	background-position: left bottom;
}

.menu-item {
	position: relative;
	transition: all .25s ease-in;
}

.menu-item:hover {
	color: #153396;
}

.active-arrow {
	transform: translate(-100%, 100%);
	transition: transform .25s ease-in;
}

.menu-item:hover .active-arrow {
	transform: translate(0, 0);
}

.right-arrowup {
	position: absolute;
	top: 3px;
	right: 21px;
}

.booking_icon {
	background-image: url(../images/booking.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.close_icon {
	background: url(../images/close.svg) no-repeat left center;
}

.booking_light_icon {
	background: url(../images/booking_light.svg) center no-repeat;
}

.arrow_upright {
	background-image: url(../images/arrow-upright.png);
	background-repeat: no-repeat;
	background-position: right 20px center;
}

.arrow_dawn {
	background-image: url(../images/arrow_dawn.png);
	background-repeat: no-repeat;
}

.calendly-inline-widget {
	height: 600px;
}

@media (min-width: 1024px) {
	.calendly-inline-widget {
		min-width: 670px;
		height: 700px;
	}
} 

footer {
	background-color: #222932;
}

footer a:hover {
	text-decoration: underline solid rgb(244, 204, 9);
}

/* T&C*/
.articles_info {
	display:  flex;
	flex-direction: column;
	row-gap: 30px;
	border-color: rgb(226 232 240);
	border-style: solid;
	border-bottom-width: 2px;
	padding: 30px 0;
}

.article {
	font-size: 34px;
	line-height: 48px;
}

.article span {
	margin-right: 60px;
}

.info {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding-left: 24px;
	font-size: 18px;
	line-height: 32px;
}

.info p {
	display: inline-flex;
	gap: 40px;
}

.info p span {
	max-width: 32px;
	width: 100%;
	text-align: right;
}
