@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-display: swap;
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/instrument-sans-400.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/instrument-sans-500.woff2') format('woff2');
}

@font-face {
	font-display: swap; 
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/instrument-sans-700.woff2') format('woff2');
}

html {
	font-family: 'Instrument Sans', sans-serif;
	color: #28303B;
}

body {
	background-color: rgb(248 250 252);
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.booking_icon {
	background-image: url(../images/booking.png);
	background-repeat: no-repeat;
	background-size: contain;
}

nav a {
	background: url(../images/arrow-upright.png) no-repeat top right;
	background-size: contain;
	padding-right: 136px;
}

.close_icon {
	background: url(../images/close_icon.png) no-repeat;
	background-size: contain;
}

.booking_light_icon {
	background-image: url(../images/booking_light.png);
	background-repeat: no-repeat;
	background-position: left 34px center;
}

.hero_arrow_upright {
	background-image: url(../images/arrow-upright.png);
	background-repeat: no-repeat;
	background-position: right 20px center;
}

